.TourCity {
  display: flex;
  flex-direction: column;
  padding: 80px 144px 120px;
  gap: 80px;
  width: 1440px;
  height: 644px;
  h1 {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #212b36;
  }

  .top,
  .bottom {
    display: flex;
    gap: 24px;
  }
  .bottom {
    margin-top: 24px;
  }
  .Paragraph p {
    margin-top: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #637381;
  }
}
.viewall {
  display: flex;
  gap: 10px;
  padding-left: 1050px;
  position: inherit;
  margin-top: -57px;

  a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #fa541c;
  }
}
