.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 120px;
    gap: 80px;
    height: 968px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 564px;
    height: 160px;

    h1 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        text-align: center;
        color: #212B36;
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #637381;
    }
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1152px;
    height: 350px;

    img {
        width: 204px;
        height: 350px;
        border-radius: 16px;
        transition: flex 0.8s ease;
    }

    img:hover {
        flex: 5;
        width: 466px;
        height: 350px;
        transition: 0.8s ease;
    }
}

.infa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    height: 98px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 270px;
    height: 98px;

    .items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        width: 87px;
        height: 64px;

        h2 {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: #212B36;
        }

        p {
            width: 12px;
            height: 36px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #FA541C;
        }
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #637381;
    }
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 270px;
    height: 98px;

    .items2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        width: 85px;
        height: 64px;

        h2 {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: #212B36;
        }

        p {
            width: 12px;
            height: 36px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #FA541C;
        }
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #637381;

    }
}

.item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 270px;
    height: 98px;

    .items3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        width: 151px;
        height: 64px;

        h2 {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: #212B36;
        }

        p {
            width: 12px;
            height: 36px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #FA541C;
        }
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #637381;
    }
}

.item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 270px;
    height: 98px;

    .items4 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        width: 90px;
        height: 64px;

        h2 {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: #212B36;
        }

        p {
            width: 12px;
            height: 36px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #FA541C;
        }
    }
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;        
        text-align: center;        
        color: #637381;
    }
}

.infa2 {
    display: none;
}

@media (max-width: 576px) {
    .wrapper {
        padding: 64px 0;
        gap: 64px;
        height: 857px;
    }
    .text {
        width: 335px;
        height: 158px;
        h1 {
            width: 162px;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
        }
        p {
            width: 335px;

        }
    }
    .image2, .image3, .image4 {
        display: none;
    }

    .gallery {
        img {
            width: 335px;
            height: 251.25px;
            transition: none;
        }
        img:hover {
            transition: none;
            flex: none;
            width: 335px;
            height: 251.25px;
        }
    }
    .infa {
        display: none;
    }
    .infa2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;        
        width: 335px;
        height: 192px;
        .top {
            display: flex;
        }
        .bottom {
            display: flex;
        }
    }
    .item, .item2, .item3,.item4 {
        width: 155px;
        height: 76px;
        p {
            width: 155px;
        }
    }
}