.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 120px 0;
    gap: 64px;
    height: 1839px;
}

.card_personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    width: 342px;
    height: 544px;
    background: #FFFFFF;
    border: 1px solid rgba(145, 158, 171, 0.24);
    border-radius: 16px;
}

.infa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 262px;
    height: 304px;

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #637381;
    }
}

.infa_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 152px;
    height: 72px;

    h4 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #212B36;
    }
}

.txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: 152px;
    height: 28px;

    h6 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #212B36;
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #637381;
    }
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 21px;
    width: 144px;
    height: 36px;

    a {
        transition: all .2s ease-in-out;
    }

    a:hover {
        transform: scale(1.4);
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 193px;
    height: 84px;

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #637381;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 193px;
        height: 48px;
        border: 1px solid rgba(145, 158, 171, 0.32);
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 26px;
        color: #212B36;
        transition: all 0.5s ease-in-out;
    }

    button:hover {
        background: #212B36;
        color: #FFFFFF;
    }
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 746px;
    height: 1599px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 746px;
    height: 48px;

    h4 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #212B36;
    }
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 312px;
    height: 48px;

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 156px;
        height: 48px;
        border: 1px solid #212B36;
        background: none;
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 26px;
        color: #212B36;
        transition: all 0.6s ease-in-out;
    }
    button:hover {
        background: #212B36;
        color: #FFFFFF;
    }

    select {
        width: 140px;
        height: 48px;        
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        padding: 10px 0px 10px 12px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #212B36;
        transition: all 0.3s ease-in-out;
        option {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #212B36;
        }
    }

    select:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    width: 746px;
    height: 1431px;
}

@media (max-width: 576px) {
    .wrapper {
        padding: 80px 0;
        height: 2623px;
        flex-direction: column;
        margin: 951px 0 0 0;
    }

    .card_personal {
        width: 335px;
        height: 536px;
    }

    .comments {
        width: 335px;
        height: 1625px;
    }

    .comment {
        width: 335px;
        height: 1863px;
    }
    
    .btn {
        width: 312px;
        height: 48px;
    }
    .action {
        width: 335px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: normal;
        gap: 40px;
        height: 124px;
        h4 {
            width: 107px;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }
}