.wrapper{ 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .center{ 
        display: flex;
        justify-content: space-between;
        width: 80%;
        
    }
    .left{ 
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
    }
    .right{ 
        display: flex;
        flex-direction: column;
        width: 35%;
        align-items: center
        ;
    }
}
