@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    .slick-slider {
        margin-left: 10px;
      }
      .slick-dots{
        width: 50%;
      }
      .Topics, .alice-carousel__wrapper{
      
        display: none;
      
    }
  }