.TravelList {
  width: 1440px;
  height: 2092px;
  overflow-x: hidden;
  padding-left: 20px;
  .UnderSearch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 110px;
    margin-bottom: 80px;
    width: 1152px;
    height: 112px;
    background: #f9fafb;
    backdrop-filter: blur(4px);
    border-radius: 16px;
    margin-left: 154px;
    input {
      height: 30px;
      width: 150px;
      border: none;
      background: transparent;
      color: black;
      padding-left: 32px;
      background-position: 4px;
      background-repeat: no-repeat;
    }
    button {
      width: 48px;
      height: 48px;
      align-items: center;
      text-align: center;
      background: #22b8cf;
      border-radius: 8px;
      border: 1px solid rgba(34, 184, 207, 0.48);
      align-items: center;
      cursor: pointer;
      padding-top: 5px;
    }
    .WhereWe {
      background-image: url(./buttonimg/Vector1.svg);
    }
    .DepDay {
      background-image: url(./buttonimg/Vector2.svg);
    }
    .Guests {
      background-image: url(./buttonimg/Vector.svg);
    }
  }
}
.TravelListCard {
  width: 1152px;
  margin-left: 154px;
  display: grid;
  grid-template-columns: 1fr;
  .flex {
    display: flex;
    gap: 24px;
    margin-top: 80px;
  }
}
.Dots {
  width: 100%;
}
.Slider {
  width: 1309px;
  margin-left: 0px;
  height: 1581px;
}
.hoverPagin:hover {
  color: #fa541c;
  background: rgba(250, 84, 28, 0.08);
  border-radius: 50px;
}
.nextArrow {
  position: relative;
  left: 65%;
  top: 34px;
  cursor: pointer;
  img {
    width: 5px;
    height: 8px;
    size: cover;
  }
}
.PrevArrow {
  bottom: 1%;
  cursor: pointer;
  width: 2%;
    height: 2%;
    display: flex;
    position: absolute;
    top: 1575px;
    left: 47%;
    z-index: 100;
  img {
    width: 24px;
    height: 16px;
    size: cover;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .TravelList {
    width: 375px;
    height: 8865px;
    display: flex;
    flex-direction: column;
    .Slider {
      margin-left: 0px;
      height: 8094px;
      padding-right: 944px;
      .slick-dots {
        width: 18%;
        margin-left: -474px;
      }
    }
    .flex {
      gap: 62px;
      flex-direction: column;
    }

    .UnderSearch {
      margin-bottom: 0px;
      width: 350px;
      height: 316px;
      background: #f9fafb;
      backdrop-filter: blur(4px);
      border-radius: 16px;
      flex-direction: column;
      margin-left: 0px;

      .layer {
        display: none;
      }
      button {
        width: 271px;
        height: 48px;
      }
    }
    .TravelListCard {
      width: 1152px;
      margin-left: 5px;
      gap: 34px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .nextArrow{
      top: 95px;
      left: 74%;
    }
    .PrevArrow {
      top: 8090px;
      width: 2%;
      height: 2%;
      left: 63px;
      cursor: pointer;
      img {
        width: 24px;
        height: 16px;
        size: cover;
      }
    }
  }
}
