.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 0;
    gap: 120px;
    height: 688px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    height: 136px;
    width: 1152px;

    h2 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #212B36;
        width: 564px;
    }

    .top_right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 564px;
        height: 136px;

        h4 {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #212B36;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #637381;
        }
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    width: 1152px;
    height: 192px;
    opacity: 0.8;
    justify-content: center;
}

.items1,
.items2,
.items3,
.items4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 270px;
    height: 192px;
    img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    img:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.5);
    }
}
.bottom_mini {
    display: none;
}

@media (max-width: 576px) {
    .wrapper {
        align-items: center;
        padding: 64px 0;
        gap: 64px;
        height: 838px;
    }
    .top {
        flex-direction: column;
        align-items: center;
        width: 335px;
        height: 254px;
        h2 {
            width: 155px;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
        }
        .top_right {
            width: 335px;
            height: 188px;
            h4 {
                width: 335px;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
    .bottom {
        display: none;
    }
    .bottom_mini {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 335px;
        height: 392px;
        opacity: 0.8;
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;            
            width: 155.5px;
            height: 392px;
            img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            img:hover {
                -webkit-transform: scale(1.3);
                transform: scale(1.5);
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;            
            width: 155.5px;
            height: 392px;
            img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            img:hover {
                -webkit-transform: scale(1.3);
                transform: scale(1.5);
            }
        }
    }
}