.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 122px;
    height: 276px;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;    
    width: 466px;
    height: 181px;
    .line {
        width: 24px;
        height: 3px;        
        background: #FA541C;
        border-radius: 50px;
        cursor: pointer;
    }
    h3 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;        
        color: #212B36;
        width: 466px;
    }
}

.text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;    
    width: 564px;
    height: 276px;
    h4 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #212B36;
    } 
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #637381;
        span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;                    
            color: #637381;
        }
    }
}

@media (max-width: 576px) {
    .wrapper {
        gap: 40px;
        flex-direction: column;
        height: 561px;
        padding: 20px 0;
    }
    .text1 {
        width: 335px;
        height: 127px;
        align-items: center;
        h3 {
            width: 335px;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            height: 108px;
        }
    }
    .text2 {
        width: 335px;
        height: 354px;
        h4 {
            width: 335px;
            font-size: 20px;
            line-height: 30px;
        }
        p {
            text-align: center;
            width: 335px;
        }
        span {
            text-align: center;
            width: 335px;
        }
    }
}