
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 144px;
}

.slick-slider {
  width: 1152px;
}

.slick-prev {
  left: 0px;
  top: 440px;
}

.slick-next {
  left: 64px;
  top: 440px;
}

button {
  cursor: pointer;
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #212b36;
  transition: background 0.2s;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #dddddd;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

